
/* Styles used over page */


/* Complaete Game Area */

.game-area {
    margin-top: 7vw;
    margin-bottom: 7vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 411px;
    grid-template-rows: 100px 411px;
    gap: 5px;
    justify-content: center;
}

.grid-area {
    grid-column-start: 2;
    grid-row-start: 2;
    border: 1px solid;
}


/*Side Column Grid Styles */
.sub-grid {
    display: grid;
    height: 100%;
    gap: 4.5px;
}
.cols {
    grid-template-columns: repeat(10, 37px);
    margin-left: 2px;
}
.rows {
    grid-template-rows: repeat(10, 37px);
    margin-top: 2px;
    margin-bottom: 2px;
}

.sub-grid > div {
    background-color: #D9D9D9;
    border-radius: 5px;    
}

.grid-numbers {
    display: grid;
    justify-items: center;
}

.grid {
    display: grid;
}


.text-justified {
    text-align-last: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

/* Test column numbers */
.container > .row {
    justify-content: center;
}


/* Grid/Game Area Styles */
.ten-by-ten-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1;
}

.ten-by-ten-grid > button {
    background-color: #F5FFFD;
    border: 0.5px black solid;
}





/* Game controls */

.btn-row {
    margin-top: 2vw;
    justify-content: center;
}

.game-btns {
    display: flex;
    justify-content: center;
}

.btn-group {
    border: black;
    border-radius: 50px;
}



/* Testing buttons */

/* label[for="cross"] {
    background-color: #f5fffd;
    color: black
}
label[for="fill"] {
    background-color: #4b8189;
} */


/* Game board */

.fill {
    background-color: #3f5764!important;
}

.cross {
    background-color: red!important;
}

/* Game Controls */
.switch {
    display: inline-flex;
    position: relative;
    width: 88px;
    height: 44px;
    background-color: #D9D9D9;
    border-radius: 24px;
    padding: 0;
}
.switch input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 24px;
}

.switch input:checked ~ .toggle{
    background-color: aqua;
}