

/* Complaete Game Area */

.game-area {
    margin-top: 7vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 411px;
    grid-template-rows: 100px 411px;
    gap: 5px;
    justify-content: center;
}



.grid-area {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: black;
    border: 1px solid;
}


/*Side Column Grid Styles */
.sub-grid {
    display: grid;
    height: 100%;
    gap: 4.5px;
}
.cols {
    grid-template-columns: repeat(10, 37px);
    margin-left: 2px;
}
.rows {
    grid-template-rows: repeat(10, 37px);
    margin-top: 2px;
    margin-bottom: 2px;
}

.sub-grid > div {
    background-color: #D9D9D9;
    border-radius: 5px;
}



/* Grid/Game Area Styles */
.sub-grid-area {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
    justify-content: space-evenly;
}

.sub-grid-area > button {
    background-color: #F5FFFD;
    border: 1px;
}

