
/* Styles used over page */


/* Complaete Game Area */

.game-area {
    margin-top: 7vw;
    margin-bottom: 7vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 411px;
    grid-template-rows: 100px 411px;
    gap: 5px;
    justify-content: center;
}

.grid-area {
    grid-column-start: 2;
    grid-row-start: 2;
    border: 1px solid;
}


/*Side Column Grid Styles */
.sub-grid {
    display: grid;
    height: 100%;
    gap: 4.5px;
}
.cols {
    grid-template-columns: repeat(10, 37px);
    margin-left: 2px;
}
.rows {
    grid-template-rows: repeat(10, 37px);
    margin-top: 2px;
    margin-bottom: 2px;
}

.sub-grid > div {
    background-color: #D9D9D9;
    border-radius: 5px;    
}

.grid-numbers {
    display: grid;
    justify-items: center;
}

.grid {
    display: grid;
}


.text-justified {
    text-align-last: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

/* Test column numbers */
.container > .row {
    justify-content: center;
}


/* Grid/Game Area Styles */
.ten-by-ten-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1;
}

.ten-by-ten-grid > button {
    background-color: #F5FFFD;
    border: 0.5px black solid;
}





/* Game controls */

.btn-row {
    margin-top: 2vw;
    justify-content: center;
}

.game-btns {
    display: flex;
    justify-content: center;
}



/* Game controls */

/* 
.fill {
    background-color: red;
} */

/* When fill is used */
.fill {
    background-color: #3f5764!important;
}

.cross {
    background-color: red!important;
}